<h1>Actividades para este 18!</h1>

<div class="card-container d-flex flex-wrap justify-content-between">
  <% @tasks.each do |task| %>
    <div class="card mb-3 text-center" style="width: 18rem;">
      <img src="<%= task.image_url %>" class="card-img-top" alt="Imagen de actividad">
      <div class="card-body">
        <h5 class="card-title"><%= task.title %></h5>
        <%= link_to 'Ver el detalle!', task_path(task), class: 'btn btn-primary' %>
        <p class="btn-completed mt-3">
          <% if user_signed_in? %>
            <% if !@user_tasks.include? task.id %>
              <%= link_to completed_tasks_path(task), method: 'post', class: 'btn btn-outline-success btn-sm' do %>
                <i class="fas fa-check-circle"></i> Marcar como completado
              <% end %>
            <% else %>
              <%= link_to destroy_completed_task_task_path(task), method: 'delete', class: 'btn btn-outline-danger btn-sm' do %>
                <i class="fas fa-times-circle"></i> Marcar como no completado
              <% end %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
